<style type="text/css">
    /* ----- Custom Font Import ----- */
    @import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin,latin-ext);
    /* ----- Text Styles ----- */
    table{
        font-family: 'Lato', Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-font-smoothing: antialiased;
        font-smoothing: antialiased;
    }
    .header{
        text-align: center;
    }
    .header img{
        margin-bottom: 50px;
    }
    h2{
        color: #89BD29;
    }
    .category-container{
        padding: 5px;
        page-break-after: always;
    }
    .subcategory-container{
        background: #89BD29;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        overflow: hidden;
        margin-top: 30px;
    }
    .background-score{
        background-color: rgba(255,255,255,0.5);
        height: 60px;
        position: absolute;
        top: -20px;
        left: 0;
    }
    .evaluation-answer-container{
        padding: 0 10px;
    }
    .evaluation-answer-container .row{
        margin:10px auto;
        color: #fff;
        display: flex;
        align-items:center;
    }
    .evaluation-answer-container .row:after{
        content: "";
        display: table;
        clear: both;
    }

    h3{
        color: #fff;
        text-align: center;
    }
    h3 .subcategory-score{
        position: absolute;
        right: 10px;
    }
</style>
<div class="header col-6">
    <img width="300" src="{{ kernelRootDir }}/img/eatsalad-logo.png" alt="">
    <p style="text-align: center;margin-right: 10px;">Visite de conformité du restaurant {{ evaluation.getRestaurant().getName() }}</p>
    <p style="text-align: center;margin-right: 10px;">Le {{ evaluation.getDate()|date('d/m/Y') }} à {{ evaluation.getDate()|date('H:m') }}</p>
    <p style="text-align: center;margin-right: 10px;">Effectué par {{ evaluation.getControllerName() }}</p>
    <p style="text-align: center;margin-right: 10px;">Score total : {{ evaluation.getScore() }}%</p>
</div>

{% for category in categories %}
    <div class="category-container">
        <h2>{{ category.getName() }}</h2>
        {% for subcategory in category.getSubCategories() %}
            <div class="subcategory-container">
                <div style="position: relative;margin-bottom: 30px;">
                    <div class="background-score" style="width: {{ subcategory.score }}%"></div>
                    <h3>{{ subcategory.getName() }}<span class="subcategory-score">{{ subcategory.score }}%</span></h3>
                </div>
                {% for evaluationAnswer in evaluation.getEvaluationAnswers() %}
                    {% if evaluationAnswer.getQuestion().getSubcategory().getId() == subcategory.getId() %}
                        <div class="evaluation-answer-container">
                            <div class="row">
                                <span style="float:left;width: 70%;line-height: 40px">{{ evaluationAnswer.getQuestion().getQuestion() }}</span>
                            {% if evaluationAnswer.getAnswer().getScore() == 0 %}
                                <span style="width: 250px;float:left;text-transform:uppercase;background-color:#c30004;border-radius: 8px;color: #fff;padding: 10px 5px;margin: 0 auto;font-weight: 600;text-align:center;">{{ evaluationAnswer.getAnswer() }}</span>
                            {% elseif evaluationAnswer.getAnswer().getScore() == 1 %}
                                <span style="width: 250px;float:left;text-transform:uppercase;background-color:#fc6308;border-radius: 8px;color: #fff;padding: 10px 5px;margin: 0 auto;font-weight: 600;text-align:center;">{{ evaluationAnswer.getAnswer() }}</span>
                            {% elseif evaluationAnswer.getAnswer().getScore() == 2 %}
                                <span style="width: 250px;float:left;text-transform:uppercase;background-color:#fece09;border-radius: 8px;color: #fff;padding: 10px 5px;margin: 0 auto;font-weight: 600;text-align:center;">{{ evaluationAnswer.getAnswer() }}</span>
                            {% elseif evaluationAnswer.getAnswer().getScore() == 3 %}
                                <span style="width: 250px;float:left;text-transform:uppercase;background-color:#1cd304;border-radius: 8px;color: #fff;padding: 10px 5px;margin: 0 auto;font-weight: 600;text-align:center;">{{ evaluationAnswer.getAnswer() }}</span>
                            {% endif %}
                            </div>
                            {% if evaluationAnswer.getImages() is not empty %}
                                <div style="background-color:#89BD29;width: 100%;display: flex;justify-content: space-around;">
                                    {% for image in evaluationAnswer.getImages() %}
                                        <img style="padding:1px;height:auto;margin:0 auto;text-align:center;border-radius:2px; width: 24%;" src="{{ kernelRootDir }}/uploads/evaluations/{{ image.getPath() ~ image.getName() }}" />
                                    {% endfor %}
                                </div>
                            {% endif %}
                            {% if evaluationAnswer.getComment() is not empty %}
                                <div style="background-color:#89BD29;width: 100%;clear: both;margin-bottom: 20px;">
                                    <p style="text-align:center;color:#fff">"{{ evaluationAnswer.getComment() }}"</p>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endfor %}