<style type="text/css">
    /* ----- Custom Font Import ----- */
    @import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin,latin-ext);
    /* ----- Text Styles ----- */
    table{
        font-family: 'Lato', Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-font-smoothing: antialiased;
        font-smoothing: antialiased;
    }
</style>
<page style="font-size: 14px">
    <table align="center" style="width: 100%">
        <tr>
            <td>
                <table style="width: 100%; text-align: center">
                    <tr>
                        <th style="width: 100%;text-align: center"><img src="{{ kernelRootDir }}/img/baratcorportate-logo.png" alt="Logo" width=150 /></th>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table style="width: 100%; text-align: center">
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table style="width: 100%; text-align: center">
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table style="width: 100%; text-align: center">
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table style="width: 100%; text-align: center">
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table style="width: 100%; text-align: center">
                    <tr>
                        <th style="width: 45%;text-align: right;margin-right: 10px;">Visite de conformité effectuée par :</th>
                        <td style="width: 5%">&nbsp;</td>
                        <td style="width: 45%;text-align: left;margin-left: 10px">{{ evaluation.getControllerName() }}</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <th style="width: 45%;text-align: right;margin-right: 10px;">Dans le restaurant EatSalad :</th>
                        <td style="width: 5%">&nbsp;</td>
                        <td style="width: 45%;text-align: left;margin-left: 10px">{{ evaluation.getRestaurant().getName() }}</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <th style="width: 45%;text-align: right;margin-right: 10px;">Le :</th>
                        <td style="width: 5%">&nbsp;</td>
                        <td style="width: 45%;text-align: left;margin-left: 10px">{{ evaluation.getDate()|date('d/m/Y') }}</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <th style="width: 45%;text-align: right;margin-right: 10px;">À :</th>
                        <td style="width: 5%">&nbsp;</td>
                        <td style="width: 45%;text-align: left;margin-left: 10px">{{ evaluation.getDate()|date('H:i') }}</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table style="width: 100%; text-align: center">
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table style="width: 100%; text-align: center">
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table style="width: 100%; text-align: center">
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table style="width: 100%; text-align: center">
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table style="width: 100%; text-align: center">
                    <tr>
                        <td style="width: 50%">
                            <table style=" width: 100%; text-align: center">
                                <tr>
                                    <th style="width: 100%">Signature du controlleur</th>
                                </tr>
                                <tr>
                                    <td style="width: 100%"><img src="{{ kernelRootDir }}/uploads/evaluations/{{ evaluation.getControllerSignature() }}" alt="Logo" width=300 /></td>
                                </tr>
                            </table>
                        </td>
                        <td style="width: 50%">
                            <table style=" width: 100%; text-align: center">
                                <tr>
                                    <th style="width: 100%">Signature du franchisé</th>
                                </tr>
                                <tr>
                                    <td style="width: 100%">
                                        {% if evaluation.getAccepted() %}
                                            <img src="{{ kernelRootDir }}/uploads/evaluations/{{ evaluation.getFranchisedSignature() }}" alt="Logo" width=300 />
                                        {% else %}
                                            <p style="color: red;font-weight: bold;text-align: center;height: 350px;width: 100%;display: block;">REFUSÉ</p>
                                        {% endif %}
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</page>